
  <button id = "closeButton" (click)="close()">X</button>

    <div id="abstractTextWrapper" class="middle">
      <p id="givenArticleHeader" class="headerText">Given Article</p>
      <p id="matchedArticleHeader" class="headerText">Matched Article</p>

      <div id="inputArticle">
        <!--{{inputArticle.Record.Abstract}}-->
      </div>

      <div id="matchedArticle">
        <!--{{matchedArticle.Record.Abstract}}-->
      </div>


      <p id="keywords1" class="headerText">KEYWORDS</p>
      <p id="keywords2" class="headerText">KEYWORDS</p>

      <div id="inputArticleKeywords">
        <!--{{inputArticle.Record.Keywords}}-->
      </div>

      <div id ="matchedArticleKeywords">
        <!--{{matchedArticle.Record.Keywords}}-->
      </div>
    </div>


