<div id="feedback-box">

  <div id="content" *ngIf="!feedbackSubmitted">

    <div class="questions">
      <p>Does this article describe <span id="headerAnimalTest">animal testing?</span></p>
      <div class="feedback-icon-wrapper">
        <button id="animal-testing-yes" class ="feedback-icons positive" (click) = "checkAnimalTesting(true)"><img width="25px" height="25px" src="../../assets/ICONS/feedback/positive.png"/></button>
        <button id="animal-testing-no" class ="feedback-icons negative" (click) = "checkAnimalTesting(false)"><img width="20px" height="20px" src="../../assets/ICONS/feedback/negative.png"/></button>
      </div>
    </div>
    <div class="questions">
      <p>Is input publication <span id="headerSimilar">similar</span> to output publication?</p>
      <div class="feedback-icon-wrapper">
        <button id="similar-yes" class ="feedback-icons positive" (click) = "checkSimilar(true)"><img width="25px" height="25px" src="../../assets/ICONS/feedback/positive.png"/></button>
        <button id="similar-no" class ="feedback-icons negative" (click) = "checkSimilar(false)"><img width="20px" height="20px" src="../../assets/ICONS/feedback/negative.png"/></button>
      </div>
    </div>
    <div class="questions">
      <p>Is input publication <span id="headerRelevant">relevant</span> to output publication? </p>
      <div class="feedback-icon-wrapper">
        <button id="relevant-yes" class ="feedback-icons positive" (click) = "checkRelevant(true)"><img width="25px" height="25px" src="../../assets/ICONS/feedback/positive.png"/></button>
        <button id="relevant-no" class ="feedback-icons negative" (click) = "checkRelevant(false)"><img width="20px" height="20px" src="../../assets/ICONS/feedback/negative.png"/></button>
      </div>
    </div>

    <textarea id="user-message" placeholder="Do you have any additional feedback for us?(optional)" ></textarea>

  </div>

  <div id="after-submit-content" *ngIf="feedbackSubmitted">
    <p>Your feedback has been submitted</p>
    <div id="spinner"></div>
    <img width="75px" height="75px" src="../../assets/ICONS/feedback/positive.png"/>
    <div id="go-back-ref" (click)="goBack()">Go back</div>
  </div>

  <button mat-button id="submit-feedback" (click)="submitFeedback()" *ngIf="!feedbackSubmitted">Submit Feedback</button>

</div>
