<div id="feedback-box">

  <div id="feedback-icon-wrapper">
    <button id="positive" class ="feedback-icons"><img width="35px" height="35px" src="../../assets/ICONS/feedback/positive.png"/></button>
    <button id="negative" class ="feedback-icons"><img width="25px" height="25px" src="../../assets/ICONS/feedback/negative.png"/></button>
  </div>

  <div id = "input-box" class="middle">

    <p class="name-email">Email:</p>
    <textarea id="email"></textarea>

    <p class="name-email">Name:</p>
    <textarea id="name"></textarea>

    <p id="feedback-header">Do you have any additinal feedback for us? We're listening.</p>
    <textarea id="additional-feedback" class = "middle"></textarea>

    <button mat-button id="submit-feedback">Submit Feedback</button>

  </div>

</div>
