#content {
  background-color: #f0f0f0;
  position: absolute;
  top: 110px;
  height: 75%;
  width: 86%;
  z-index: -1;
  border-radius: 5px;
}

#container {
  background-color: white;
}

#searchWrapper {
  height: 290px;
  width: 400px;
  position: relative;
  top: 30%
}

#confirmBox {
  position: relative;
  top: 65px;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
