#input-box {
  width: 370px;
}

#text-line {
  background-color: transparent;
  font: 18px "Heiti SC";
  font-weight: lighter;
  text-align: center;
  color: #000000;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(4, 4, 4, 0.6) 2px;
  width: 320px;
  height: 35px;
}

#search-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  left: -30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#search-button:hover > #search-icon{
  width: 30px;
}

#search-icon {
   position: relative;
   left: 5px;
   top: -3px;
 }

>>> .example-menu .mat-menu-content {
  max-height: 250px;
  overflow-y: scroll;
}

>>> .example-menu .mat-menu-content::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.button-small-black {
  font: 10px Heiti SC;
  font-weight: lighter;
  padding: 6px 9px;
  display:inline-block;
  text-decoration: none;
  border-radius: 3px;
  background-color: #1e1e1e;
  color: white;
  border: 0;
}

button {
  outline: none;
}

.button-small-black:hover {
  background-color: #2d2d2d;
  color: #f5f5f5;
}

#error-message {
  opacity: 0;
  display: inline-block;
  font-size: 10px;
  color: rgba(255, 9, 12, 0.8);
  transition: opacity 0.5s ease-out;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

#example-button {
  font: 13px "Heiti SC";
  position: relative;
  background-color: #bcbcbc;
  padding: 5px 10px;
  top: 5px;
}

.menu-items {
  height: 80px;
  width: 330px;
  font-size: 10px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 0px 5px;
}

.menu-items:hover {
  background-color: #9ad3de;
}

#search-field-wrapper {
  position: relative;
  left: 20px;
  width: 340px;
  height: 60px;
  user-select: none;
}

.mat-menu-panel.example-menu {
  max-width: none;
  width: 340px;
  height: 240px;
}
