<div id="search-field-wrapper">

  <!-- Search/Input Field -->
  <div id="input-box">
    <input #searchBox (keyup.enter)="enterPmid(searchBox.value)" id="text-line" placeholder="PMID : 25684017" autofocus />

    <button (click)= "enterPmid(searchBox.value)" id="search-button" >
      <img id="search-icon" width="90%" src="assets/ICONS/searchIcon.png"/>
    </button>
  </div>

  <!-- Example Button and its Menu -->
  <button mat-button [matMenuTriggerFor]="menu" id="example-button">examples</button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" class="example-menu">

    <div id="item1" class ="menu-items" (click)="exampleInput('11489449')">
      <p class="example-text">PMID: 11489449<br>
        Neuroprotection by memantine, a non-competitive NMDA receptor antagonist after traumatic brain injury in rats.
      </p>
      <div class="grey-borders"></div>
    </div>

    <div id="item2" class ="menu-items" (click)="exampleInput('11932745')">
      <p class="example-text">PMID: 11932745<br>
        Naturally secreted oligomers of amyloid beta protein potently inhibit hippocampal long-term potentiation in vivo.
      </p>
      <div class="grey-borders"></div>
    </div>

    <div id="item3" class ="menu-items" (click)="exampleInput('21494637')">
      <p class="example-text">PMID: 21494637<br>
        Dopaminergic neuronal loss, reduced neurite complexity and autophagic abnormalities in transgenic mice expressing G2019S mutant LRRK2.
      </p>
      <div class="grey-borders"></div>
    </div>
  </mat-menu>

  <!-- Error message. First hidden, shows up if input is not valid -->
  <div id="error-message" >PMID does not exist</div>

</div>

