.given-pmid {
  font: 15px 'Lato', sans-serif;
  font-weight: 300;
  margin-right: 5%;
  text-align: right;
  margin-bottom: 5px;
}

#content {
  top: 110px;
  height: 80%;
  width: 86%;
}

.menu {
  font: 13px "Lato", sans-serif;
  font-weight: 400;
  height: 20px;
  width: 100%;
  background-color: #bcbcbc;
  user-select: none;
  border:none;
  border-radius: 5px 5px 0px 0px;
  transition: height 0.1s linear;
  cursor: default;
}
.menu div {
  display: inline-block;
  text-align: center;
  opacity: 0;
}

.menu-extended div {
  animation: easein 1s;
  opacity: 1;
}

@keyframes easein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.menu-extended {
  animation: slideDown 0.1s;
  height: 40px;
}

@keyframes slideDown {
  0% {height: 20px;}
  30% {height: 30px;}
  100% {height: 40px;}
}

#result-table {
  overflow-y: auto;
  /* Firefox */
  height: -moz-calc(100% - 40px);
  /* WebKit */
  height: -webkit-calc(100% - 40px);
  /* Opera */
  height: -o-calc(100% - 40px);
  /* Standard */
  height: calc(100% - 40px);
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 0px 0px 0px 5px;
}

#pdf-export-wrapper {
  width: 100%;
  height: 20px;
}

#pdf-export-button {
  height: 23px;
  width: 15%;
  background-color: #a9a9a9;
  font: 13px 'PT Sans', sans-serif;
  border-radius: 0px 0px 5px 5px;
  padding-top: 4px;
  outline: none;
  user-select: none;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.centered {
  position: relative;
  top: 40%;
  margin: auto auto;
}

#spinner {
  border: 7px solid #ffffff;
  border-top: 7px solid #6f6f6f;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#relevance{
  content: 'pm';
}

@media screen and (max-width: 630px) {
  #menu div span{
    display: none;
  }
  #relevance:after{
    content: 'Score';
  }
  #article:after{
    content: 'Article';
  }
  #details:after{
    content: 'Details';
  }
  .given-pmid {
    font-size: 12px;
    margin-right: 0;
  }
}
