
#content-wrapper {
  margin: 0 auto;
}

.header {
  font-weight: bolder;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  padding: 7px;
}

#article-information {
  font: 18px 'Lato', sans-serif;
  font-weight: lighter;
  overflow-y: auto;
  width: 90%;
  margin: auto;
  padding: 0px 30px;
  position: relative;
  top: -10px;
}

#article-information a {
  display: block;
  text-align: center;
  color: black;
  padding-bottom: 7px;
}

#article-information a:hover {
  text-decoration: none;
  color: #686868;
}

#button-wrapper {
  height: 40px;
  width: 300px;
  margin: auto;
}

#article-id {
  text-align: center;
  text-decoration: underline;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: underline;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

button {
  background-color: #bcbcbc;
  outline: none;
  height: 40px;
  width: 50px;
}

button:hover {
  background-color: #787878;
}

@media screen and (max-width: 400px) {
  #button-wrapper {
    width: 200px;
  }
}
