
  <div id="content-wrapper">
    <div id="article-information">
      <p class="header">Title:</p>
      <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{metaData.PMID}}">{{metaData.Title}}</a>

      <p class="header">Authors:</p>
      <p style="text-align: center">{{metaData.Authors}}</p>

      <p class = "header">ID: </p>
      <p style="text-align: center">{{metaData.PMID}}</p>
    </div>
    <div id="button-wrapper">
      <button mat-button (click)="goBack()">Go Back</button>
      <button mat-button [mat-dialog-close] = true cdkFocusInitial style="float:right" >Confirm</button>
    </div>
  </div>
