#container {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

.close-button {
  position: relative;
  float: right;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-details {
  font-size: 18px;
  position: relative;
  left: 5%;
  top: 5%;
  width: 50%;
}

#content {
  width: 90%;
  height: 85%;
  position: relative;
  top: 3%;
  background-color: #f0f0f0;
  margin: 0 auto;
  border-radius: 3px;
}

#text {
  width: 85%;
  height: 90%;
  position: relative;
  top: 3%;
  margin: 0 auto;
}

.headers {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.headers p {
  display: inline-block;
  margin: 0;
  width: 45%;
}
.headers .matched-header {
  float: right;
}

.abstracts {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}

.abstracts div {
  background-color: white;
  height: 100%;
  width: 47%;
  display: inline-block;
  user-select: text;
  overflow-x: auto;
  padding: 5px 10px 5px 10px;
}

.abstracts .matched-publication {
  float: right;
}
:host ::ng-deep .mesh_headings {
  background: #f4ef64;
  color: black;
}

:host ::ng-deep .annotations {
  background: #4CAF50;
  color: black;
}

.keyword-headers {
  font-size: 13px;
  margin-top: 2%;
}

.keywords {
  width: 100%;
  height: 15%;
  margin: 0 auto;
  color: red;
}
.keywords div {
  background-color: white;
  height: 100%;
  width: 47%;
  display: inline-block;
  user-select: text;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}

.keywords .matched-keywords {
  float: right;
}

.matching-score {
  display: table;
  margin: 3% auto 0 auto;

}

.matching-bar {
  height: 8%;
  width: 25%;
  background-color: white;
  margin: 0 auto;
}
.green-bar {
  animation: fadein;
  height: 100%;
  background-color: #18a131;
}

button:focus {outline:0;}

@media screen and (max-width: 800px) {

  .search-details {
    font-size: 15px;
  }
  .headers {
    font-size: 13px;
  }
  .abstracts div {
    font-size: 12px;
  }

  .keywords div {
    font-size: 12px;
  }
  .keyword-headers {
    font-size: 10px;
  }
  .matching-score {
    font-size: 12px;
  }
  .matching-bar {
    height: 7%;
  }
}
@media screen and (max-width: 600px) {
  .matching-score {
    font-size: 10px;
  }
  .keyword-headers {
    font-size: 8px;
  }
  .abstracts div {
    padding: 2px;
  }
}
@media screen and (max-width: 500px) {
  .headers {
    font-size: 8px;
  }
  .keyword-headers {
    font-size: 6px;
  }
  .abstracts div {
    font-size: 7px;
  }
  .keywords div {
    font-size: 7px;
    padding: 2px;
  }

}
