#navigation-text {
  position: absolute;
  width: 200px;
  font: 17px "Poppins", sans-serif;
  font-weight: lighter;
  line-height: 24px;
  cursor: default;
  user-select: none;
  text-align: center;
  top: 10px;
}
.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#table {
  border-collapse: separate;
  border-spacing: 0px;

}
#menu div {
  display: inline-block;
  padding: 4px 0px;
  text-align: left;
}
#centered {
  position: relative;
  top: 150px;
  margin: 10px;
  right: 50px;
  left: -10px;
}
#horizontal
{
  width: 200px;
  border-top: 1px solid blue;
  position: absolute;
  top: 50px;
}

#information-block {
  position: relative;
  top: 140px;
  left: 0px;
}


#article-score {
  width: 5%;
}

#article-PMID {
  width: 10%;
  position: relative;
  height: 100px;

}

#article-information {
  width: 50%;
}


#authors {
  font-size: 9px;
}
