td {
  font-size: 14px;
}

#article-score {
  width: 15%;
}

#article-PMID {
  width: 15%;
  position: relative;
  height: 100px;
  text-align: center;
}

#article-information {
  width: 55%;
}
a:hover {
  text-decoration: none;
}
a:hover p{
  color: black;
}
a:hover .ref{
  color: #0000EE;
}

#search-details {
  width: 15%;
  text-align: center;
}

#authors {
  font-size: 12px;
}

#search-details img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#search-details .feedback-icon {
  float: right;
  margin-left: 40px;
}
#search-details div {
  display: inline-block;
}

.PercentageBarBackgroundGreen{
  background-color: #ffffff;
  border: 2px solid #4CAF50;
}

.PercentageBarBackgroundYellow{
  background-color: #ffffff;
  border: 2px solid #e2dd5d;
}

.PercentageBarBackgroundRed{
  background-color: #ffffff;
  border: 2px solid #ff4819;
}

.highPercentage {
  color:#fff;
  background-color:#4CAF50;
}

.middlePercentage {
  color:#fff;
  background-color: #e2dd5d;
}

.lowPercentage {
  color:#fff;
  background-color: #ff4819;
}

@media screen and (max-width: 830px) {
  #search-details div {
    width: 25px;
  }
  #search-details img {
    margin: 0;
  }
  #search-details .feedback-icon {
    margin-top: 40px;
  }
  #article-PMID {
    font-size: 12px;
    padding-right: 0;
    padding-left: 0;
  }
  #article-score {
    padding-left: 0;
    padding-right: 0;
  }
  #article-information {
    font-size: 12px;
  }
}

