<head>
  <meta name="viewport" content="width=device-width">
</head>
<div id="wrap">
  <nav id="navigation" class="middle">
    <ul class="primary">
      <li id="search">
        <a routerLink="/search" routerLinkActive="active">SEARCH</a>
      </li>
      <li>
        <a [routerLink]="['/result', '']" routerLinkActive="active">Result</a>
      </li>
      <li>
        <img id="logo" class="middle" src="assets/images/logo1.png">
      </li>

      <li class="right">
        <a id = "info" routerLink="/info" routerLinkActive="active">INFO</a>
      </li>
      <li class="right">
        <a id = "about" routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet class="router-outlet"></router-outlet>
