<head>
  <meta name="viewport" content="width=device-width">
</head>

<nav id="navigation" class="middle">
  <ul class="primary">
    <li style="float:left">
      <div id="navigation-text">semantic search for alternative methods to animal testing</div>
    </li>
    <li >
      <a routerLink="/about" routerLinkActive="active">ABOUT</a>
    </li>
    <li >
      <a routerLink="/info" routerLinkActive="active">INFO</a>
    </li>
    <li >
      <a [routerLink]="['/result', '']" routerLinkActive="active">RESULT</a>
    </li>
    <li >
      <a routerLink="/search" routerLinkActive="active">SEARCH</a>
    </li>
</ul>
</nav>

<router-outlet class="router-outlet"></router-outlet>
