#navigation {
  width: 86%;
  top: 25px;
}

#nav-icon {
  display: none;
  position: relative;
  top: -5px;
}

#navigation-text {
  position: relative;
  width: 200px;
  font: 17px 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  cursor: default;
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a{
  font: 16px 'Lato', sans-serif;
  font-weight: 400;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 0px;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: solid transparent 1px;
  user-select: none;
}

li a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .1s;
}

li a:hover::after {
  width: 100%;
}

li #nav-icon:hover {
  border-top: solid transparent 1px;
  background: transparent;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 650px) {
  #navigation a {display: none}
  #navigation #nav-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .responsive {
    background-color: white;
    height: calc(100% - 25px);
    z-index: 10;
  }
  #navigation.responsive .nav-options a {
    display: block;
    font-size: 25px;
    font-family: sans-serif;
    margin: 5% 0px 5% 0px;
    color: black;
  }

  #navigation.responsive .nav-options a:hover {
    color: #626262;
    border-top: solid 1px transparent;
  }

  .responsive .nav-options li {
    width: 100%;
  }
}
