.spinner {
  position: absolute;
  left: 47%;
  transform: translate(-50%);
  top: 50%;
}
#container {
  background-color: #f0f0f0;
  position: absolute;
  top: 110px;
  height: 75%;
  width:86%;
  z-index: -1;
  overflow: auto;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#resulttable {
  height: 10px;
}
