/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.confirmation-dialog .mat-dialog-container {
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  .confirmation-dialog .mat-dialog-container {
    max-height: 630px;
  }
}

.compare-page-dialog .mat-dialog-container {
  width: 800px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
}

@media screen and (min-width: 1300px) and (min-height: 950px ) {
  .compare-page-dialog .mat-dialog-container {
    width: 1000px;
    height: 750px;
  }
}

@media screen and (min-width: 1100px) and (min-height: 700px ) {
  .compare-page-dialog .mat-dialog-container {
    width: 900px;
    height: 650px;
  }
}

@media screen and (min-width: 1600px) and (min-height: 950px ) {
  .compare-page-dialog .mat-dialog-container {
    width: 1000px;
    height: 800px;
  }
}

@media screen and (max-width: 880px) {
  .compare-page-dialog .mat-dialog-container {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .compare-page-dialog .mat-dialog-container {
    width: 350px;
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .compare-page-dialog .mat-dialog-container {
    width: 290px;
    height: 350px;
  }
}

.feedback-dialog .mat-dialog-container {
  width: 500px;
  height: 400px;
  padding: 0;
  border: none;
}

@media screen and (max-width: 560px) {
  .feedback-dialog .mat-dialog-container {
    width: 300px;
  }
}
